Data/
weights/weight_seed33.pth
weights/weight_seed2.pth
weights/weight_seed4001.pth
weights/weight_seed1004.pth
weights/weight_seed653.pth
weights/weight_seed220.pth
weights/weight_seed100.pth
weights/weight_seed61.pth